extends layout
block content
    h1 Login
    form(method='POST', action='/users/login')
    div
    label Username
    input(name='username', type='text')
    div
    label password
    input(name='password', type='password')
    